{% block title %}
List All Jobs
{% endblock %}
{% block content %}
<table border="1px">
    <thead>
        <td><strong>Job ID</strong></td>
        <td><strong>Job Name</strong></td>
    </thead>

    {% for row in rows %}
    <tr>
        <td>{{ row["ID"] }}</td>
        <td>{{ row["JOB_NAME"] }}</td>
        <td>{{ row["TYPE"] }}</td>
        <td>{{ row["LENGTH"] }}</td>
        <td>{{ row["DESCRIPTION"] }}</td>
        <td>{{ row["QUALIFICATIONS"] }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}